// custom style taken / inspired by https://github.com/bekaku/quasar-starter-template/blob/main/src/css/quasar.variables.scss
@import 'utilities';

@font-face {
  font-family: "TwemojiMozilla";
  src: local("TwemojiMozilla"), url("../assets/font/TwemojiMozilla.ttf") format("truetype");
  font-weight: normal;
}

.input-emoji {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, "TwemojiMozilla";
}

.main-app-text-link-hover {
  text-decoration: none !important;
  color: $primary !important;
}

.main-app-text-link-hover:hover {
  text-decoration: underline !important;
}

$separator-color: var(--color-zinc-200) !default;
$separator-dark-color: var(--color-zinc-700) !default;

// default background colors
$default-light-bg-color: var(--color-zinc-100);
$default-dark-bg-color: var(--color-zinc-800);

// default text colors
$default-light-color:var(--q-color-grey-2);
$default-dark-color:var(--q-color-grey-7);


body {
  ::selection {
    background-color: var(--color-primary-600);
    color: #fff;
  }
}

.body--light {
  // default main color/background
  background: $default-light-bg-color !important;
  color: $default-light-color !important;

  .q-card {
   background: $default-light-bg-color !important;
  }

  .q-field--outlined .q-field__control::before {
    border: 1px solid $separator-color !important;
    box-shadow:
      0 0 #0000,
      0 0 #0000,
      0 1px 2px 0 rgb(0 0 0 / 0.05);
  }
}

.body--dark {
  // default main color/background
  background: $default-dark-bg-color !important;
  color: $default-dark-color !important;

  .q-card {
   background: $default-dark-bg-color !important;
  }

  .q-field--outlined .q-field__control::before {
    box-shadow:
      0 0 $elevation-dark-ambient,
      0 0 $elevation-dark-ambient,
      0 1px 2px 0 $elevation-dark-ambient !important;
  }
}
