<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- icon credits: https://www.iconfinder.com/icons/1519786/archive_colorful_documents_folders_office_icon -->
        <link rel="icon" type="image/png" sizes="512x512" href="icons/favicon-512x512.png">
        <link rel="icon" type="image/png" sizes="256x256" href="icons/favicon-256x256.png">
        <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
        <link rel="icon" type="image/png" sizes="96x96" href=icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="64x64" href=icons/favicon-64x64.png">
        <link rel="icon" type="image/png" sizes="48x48" href=icons/favicon-48x48.png">
        <link rel="icon" type="image/png" sizes="32x32" href=icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="24x24" href=icons/favicon-24x24.png">
        <link rel="icon" type="image/png" sizes="16x16" href=icons/favicon-16x16.png">
        <link rel="icon" "type=image/ico" href="icons/favicon.ico">
        <title>HomeDocs</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="styles/app.css">
    </head>
    <body>
        <div id="app">
            <router-view v-slot="{ Component }">
                <transition name="fade">
                    <component :is="Component" />
                </transition>
            </router-view>
        </div>
        <script type="text/javascript">
            window.__INITIAL_STATE__ = '{{ initialState | raw }}';
            let initialState = JSON.parse(window.__INITIAL_STATE__);
            if (initialState.environment == 'development') {
                console.log(initialState);
            }
        </script>
    </body>
</html>
